*{
    margin: 0%;
    padding: 0px;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}




#container{
    width: 100%;
    height: 100vh;
    position: relative;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.logo{
    width: 130px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.list{
    color: black;
    font-weight: 600px;
    text-decoration: none;
}
.list:hover{
    color: red;
    text-decoration: underline;
}
.home-content{
    margin: 13% 0px 0px 8%;
}

#username{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Playwrite CU", cursive;

}
#lname{
    font-family: "Playwrite CU", cursive;
    color: orange;
}
#userdetails{
    line-height: 1.2;
    margin-bottom: 10px;

}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 30px;
}

.home-img{
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 0px;
    right: 30px;
    /* border: solid; */

}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}
.home-img:hover #shape{
    bottom: 90px;
     
}
.home-img:hover #girl{
    left: 30%;
}
#about{
    margin: 15% 8% 0% 8%;
}
.selectionHead{
    text-align: center;
}
#mainHead{
    font-size: 30px;
}
#subhead{
    font-size: 20px;
    color: green;
}
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;

}
.img1{
    width: 70%;
}
.aboutcontent{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.infoBox{
    margin-bottom: 10px;
}
.infoBox>span{
    margin-left: 1rem;
}

#skill{
    margin: 8% 8% 0px 8%
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;

}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.mainhead, .barpercentage{
    font-weight: 500px;
    font-size: 1.3rem;

}
.baseBar{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    

}


.htmlBar{
    background-color: #e0920b;
    width: 89%;
}

.cssBar{
    background-color: #e0920b;
    width: 79%;
}

.jsBar{
    background-color: #e0920b;
    width: 61%;
}

.mongodbBar{
    background-color: #e0920b;
    width: 79%;
}

#contacts{
    margin: 8% 8% 0px 8%;
}

.iconCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(rgb(0, 0, 109),black);
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 3s;
}

@keyframes rotate{
    0%{
        transform: rotate(40deg);
    }
    20%{
        transform: rotate(-40deg);

    }
    40%{
        transform: rotate(40deg);
    }
    60%{
        transform: rotate(-40deg);

    }
    80%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);

    }
}

footer{
    margin-top: 8%;
}

#copyright{
    text-align: center;
    font-weight: 600px; 
}

.upArrow{
    float: right;
    margin: -30px 20px 0px 0px;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;

}
::-webkit-scrollbar-track{
    background-color: grey;
}
::-webkit-scrollbar-thumb{
    background-color: #e0920b;
    border-radius: 5px;
}






